@import './utils/variables';
@import './base/defaults.scss';
@import './components/page-header';
@import './components/hero';
@import './components/modal';
@import './components/feature';
@import './components/team';
@import './components/work';
@import './components/client';
@import './components/footer';
@import './components/portfolio';

/* sections */

.section-title {
  color: $title-text-color;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin: 0;
  margin-bottom: 50px;
}
